<p-panel header="Dashboard"  [toggleable]="true">
  <p-growl [value]="msgs"></p-growl>

  <div class="ui-g">
    <div class="ui-g-6">
      <p-chart type="bar" [data]="dataBar"></p-chart>
    </div>
    <div class="ui-g-6">
      <p-chart type="pie" [data]="dataPie"></p-chart>
    </div>
    <div class="ui-g-6">
      <p-chart type="line" [data]="dataLine" (onDataSelect)="selectData($event)"></p-chart>
    </div>
    <div class="ui-g-6">
      <p-chart type="polarArea" [data]="dataPolar"></p-chart>
    </div>
  </div>

</p-panel>
